.Pointer {
  height: 5vh;
  display: block;
  border-radius: 50%;
}

.Pointer:hover {
  height: 6vh;
  box-shadow: 0 7px 5px steelblue;
  border: 1px solid steelblue;
  background-color: rgb(162, 209, 248);
  transition: all 0.25s ease-out;
}
